// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #4B3B10 ;
$secondary: #FFFBAC;
$dark: #6B5F5F ;
$light: #8BB385 ;
$info: #106513;
$warning: white;


$font-family-sans-serif : "roboto" , sans-serif !default ;
$font-family-serif: "poppins" , serif !default;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here
